<div class='row justify-content-between align-items-center'>
  <div class='col-8 pe-auto justify-content-start align-items-center'>
    <a
      class='ms-3 p-0 text-decoration-none'
      href='/privacy'
      target='_blank'
      referrerpolicy='noreferrer'
    >Privacy Policy</a>
    <a
      class='ms-3 p-0 text-decoration-none'
      href='/terms'
      target='_blank'
      referrerpolicy='noreferrer'
    >Terms of Service</a>
    <a
      class='ms-3 p-0 text-decoration-none'
      href='/jobs'
      target='_blank'
      referrerpolicy='noreferrer'
    >Employment Opportunities</a>
  </div>
  <div class='col-2 justify-content-end align-items-center'>
    <p class='me-3 p-0'>&copy;2022 Polyrhythm Entertainment</p>
  </div>
</div>