<div
  class='carousel slide pt-3 pb-3'
  aria-label='venue information'
  data-bs-ride='carousel'
  id='info-text'
>
  <div class='carousel-inner align-items-center'>
    <div class='carousel-item active'>
      <div>
        <h3 class='text-center'>Important COVID-19 Information</h3>
        <p class='text-center'>
          Unless required by the performing artist that evening, you no longer
          need to provide proof of COVID-19 vaccination or a negative test for
          entry.
        </p>
        <p class='text-center'>
          Masks are still encouraged, but they are now optional unless mandated
          by the artist.
        </p>
      </div>
    </div>
    <div class='carousel-item'>
      <div>
        <h3 class='text-center'>Personal Item Policy</h3>
        <p class='text-center'>
          All personal items (bags, purses, fanny packs, containers, etc.)
          larger than 12"x6"x12" are prohibited.
        </p>
        <p class='text-center'>All items are subject to search upon entry.</p>
      </div>
    </div>
    <div class='carousel-item'>
      <div>
        <h3 class='text-center'>Wish you could have your party with us?</h3>
        <p class='text-center'>Polyrhythm now offers event planning services at
          any of our beautiful venues.</p>
        <p class='text-center'>Ask us if we're available using the form below.</p>
      </div>
    </div>
    <div class='carousel-item'>
      <div>
        <h3 class='text-center'>Always looking for the next big thing.</h3>
        <p class='text-center'>We don't just cater to the big names!</p>
        <p class='text-center'>Polyrhythm is proud to support local artists,
          performers, and speakers. Reach out to us below, and we will get you
          on stage!</p>
      </div>
    </div>
  </div>
  <button
    class='carousel-control-prev'
    type='button'
    data-bs-target='#info-text'
    data-bs-slide='prev'
  >
    <span class='carousel-control-prev-icon' aria-hidden='true'></span>
    <span class='visually-hidden'>Previous</span>
  </button>
  <button
    class='carousel-control-next'
    type='button'
    data-bs-target='#info-text'
    data-bs-slide='next'
  >
    <span class='carousel-control-next-icon' aria-hidden='true'></span>
    <span class='visually-hidden'>Next</span>
  </button>
</div>