<div class='container-fluid'>
  <div class="image-container">

  </div>"
  <div class="row justify-content-center align-items-center info-container">
    {{> info-text}}
  </div>
  <div class="row jusify-content-center align-items-center logo-container">
    <div class="col-6 logo">
       <img src="/public/assets/images/Modular.png" alt="Modular logo">
    </div>
  </div>
  <div class="row calendar-container">
    <div class="calendar">
      {{> calendar}}
    </div>
  </div>
  <script src="../public/assets/javascript/calendar.js"></script>

</div>